<!doctype html>
<html lang="en">


<!-- /terms.html   20:25:13 GMT -->
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trade Cryptocurrencies, Stocks, Forex and
Options using our 100+ most widely-used technical indicators, widgets and signals.">
    <meta name="keywords" content="crypto, stock, indices, forex, options, Solana Fortune">
    <meta name="author" content="Solana Fortune">
    <meta name="theme-color" content="#2E89EA" />
    <!-- critical preload -->
     <link rel="stylesheet" href="('static', filename='css/style.css')">
     <link rel="stylesheet" href="('static', filename='css/style.css')">

    <link rel="preload" href="js/vendors/bootstrap.min.js" as="script">
    <!-- <link rel="preload" href="css/style.css" as="style"> -->
    <!-- <link rel="preload" href='('static', filename='style.css')' as="style"> -->
    <!-- icon preload -->
    <link rel="preload" href="fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="fonts/poppins-v20-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/poppins-v20-latin-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/poppins-v20-latin-700.woff2" as="font" type="font/woff2" crossorigin>    
    <!-- WhatsApp -->
    <!-- load font awesome for icons -->
<link rel="stylesheet"
href="https://www.finfortune.biz/cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<!-- WhatsApp custom CSS -->
<style>
body {
 font-family: sans-serif;
}

/* Add WA floating button CSS */
.floating {
 position: fixed;
 width: 60px;
 height: 60px;
 bottom: 40px;
 right: 40px;
 background-color: #25d366;
 color: #fff;
 border-radius: 50px;
 text-align: center;
 font-size: 30px;
 box-shadow: 2px 2px 3px #999;
 z-index: 100;
}

.fab-icon {
 margin-top: 16px;
}
</style>


    <!-- Stylesheet -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"type="image/x-icon">
    
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <title>Terms Agreement | Solana Fortune</title>
</head>

<body>
    <!-- page loader begin -->
    <div class="page-loader w-100 h-100 bg-white d-flex justify-content-center align-items-center position-fixed overflow-hidden">
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
    </div>
    <!-- page loader end -->
    <!-- header begin -->
    <header class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="160" height="67" class="d-inline-block">
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between d-none d-xl-block" id="navbarNav">
                 <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('markets') }}">Markets</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('education') }}">Academy</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Support</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('terms') }}">Terms</a></li>
                </ul>
                <div class="optional-link d-flex align-items-center ms-4 d-none d-xl-block">
                    <a href="{{ url_for('login') }}" class="btn btn-link me-3"><i class="fas fa-circle-user"></i>Login</a>
                    <a href="{{ url_for('register') }}" class="btn btn-info">Register</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- breadcrumb content begin -->
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="d-none">Breadcrumb</h6>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ url_for('terms') }}">Home</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb content end -->
    <!-- header end -->
    <main>
        <!-- section content begin -->
        <section class="py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-0 gx-md-5 gx-lg-5">
                    <div class="col-12 col-md-12 col-lg-12 mb-md-2 mb-lg-4">
                        <h1 class="fw-bold text-center">Our <span class="text-highlight">Legal Docs</span></h1>
                    </div>

                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <div class="card">
                            <div class="card-body p-3 p-md-5">
                                <h2 class="fw-bold">Terms & Agreement</h2>
                                <p>Please read these terms and conditions carefully. By accessing this site and any pages thereof, you agree to be bound by the terms and conditions below. If you do not agree to the terms and conditions below, do not access this site, or any pages thereof.</p>
                                <div class="accordion accordion-style-5 mt-4" id="sampleFive">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a5One" aria-expanded="true">
                                                Use of Information and Materials
                                            </button>
                                        </h2>
                                        <div id="a5One" class="accordion-collapse collapse show" data-bs-parent="#sampleFive">
                                            <div class="accordion-body">
                                                <p>The information and materials contained in these pages, and the terms, conditions, and descriptions that appear, are subject to change. Unauthorized use of Solana Fortune' web sites and systems including but not limited to unauthorized entry into Solana Fortune' systems, misuse of passwords, or misuse of any information posted on a site is strictly prohibited. Not all products and services are available in all geographic areas. </p>
                                                
                                        <p>Your eligibility for particular products and services is subject to final determination by Solana Fortune and/or its affiliates. Copyright and Trademark. Copyright in the pages and in the screens displaying the pages, and in the information and material therein and in their arrangement, is owned by Solana Fortune unless otherwise indicated. Solana Fortune, LTD and the Solana Fortune are trademarks and service marks of Solana Fortune and are used and/or registered throughout the world. Solana Fortune, Ltd and their subsidiaries also claim rights in certain other trademarks and service marks contained in these web pages.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Two" aria-expanded="false">
                                                CUSTOMER TRADING AGREEMENT
                                            </button>
                                        </h2>
                                        <div id="a5Two" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                            <div class="accordion-body">
                                               <p>This Client Trading Agreement("Agreement") is between Solana Fortune Limited and its affiliates, operator of the brand name Solana Fortune (hereinafter: "Solana Fortune") 
                and any end user (“Client”) (each a "Party" and together, the "Parties") and applies to any dealings between them. This Agreement incorporates by reference any 
                additional appendices, including but limited to the Risk Disclosure and Declaration of Beneficial Ownership.</p>
                
                 <p><b><i>Generally, you will be required to upgrade your live trading account from Dynamic to a Classical Account before your profit can be pulled out of your Live Trading Account!</i></b></p>
                
                <p>1. General Services Rule: Client may enter into transactions with Solana Fortune, in connection with spot and forward foreign currency contracts, 
                foreign currencies swap transactions, and such other transactions as Solana Fortune may from time to time make available (the “Services”).</p>
                <p>2. Margin: The Services may involve margined transactions, requiring Client to deposit cash to secure its obligations under this Agreement (“Security Margin”).</p>
                <p>3. Direct Relationship: Unless otherwise agreed in writing, Solana Fortune and Client each enter into this Agreement as principal and Solana Fortune will not accept an 
                undisclosed/unapproved principal acting through Client. With regard to such a principal, Client agrees to provide Solana Fortune with its identity, personal information,
                and other information that Solana Fortune may seek.</p>
                <p>4. No Recommendation or Solicitation: Solana Fortune does not recommend, solicit, offer, advise, suggest, concur on the merits of, or otherwise provide any opinion 
                whether to buy or sell any currency or to engage in any other transaction. Neither the availability of the Services nor any communication by anyone associated 
                with Solana Fortune should be construed in this manner.</p>
                <p>5. Errors: Quotations provided by Solana Fortune, via third parties or otherwise, may be incorrect for any reason. Following a transaction involving such quotation 
                errors, Solana Fortune in its discretion reserves the right to correct the affected account balance. Any dispute arising from such errors or corrections will be 
                resolved on the basis of the fair market value of the relevant currency at the time of the error.</p>
                <p>6. Market Fluctuations: Client acknowledges that the market for currency is subject to sudden changes due news events and other announcements, acts of war or 
                terrorism, power failures, strikes or civil commotions, business trends, political developments, fluctuations in other Solanaancial and commodity markets, and other 
                factors beyond Solana Fortune' control. Solana Fortune may determine in its sole discretion that an emergency or exceptional market condition exists, in which case it 
                reserves the right to impose trading limits or special terms, cancel or suspend any transaction, or close an account.</p>
                <p>7. Availability: This site is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to local law or regulation.</p>
                <p>8. Trading Indices: The Client hereby acknowledge that he is aware that in the case of Contract for Difference (CFD) trade, Solana Fortune shall open its trading 
                within 5 minutes of the opening of the relevant market. Solana Fortune reserves the right not to accept any trade of such instrument during the first 5 minutes of the 
                trading day. Solana Fortune reserves its right to cancel any trade, in its own discretion, of such instrument made during the first 5 minutes of the trading day.</p>
                <p>9. Solana Fortune shall execute the Client’s withdrawal within 96 working hours once all the above conditions are met and upon approval of such by the Solana Fortune 
                Back Office Department. The Client acknowledges that fund transfer times may vary according to its account type, issuing bank, intermediary bank, receiving bank, 
                destination country or any other 3rd party involved in the transfer of funds. Solana Fortune shall not be liable for any fund transfer delay caused by such 3rd party.</p>
                <p>10. Complaints: - Based on an operational agreement with Solana Fortune Ltd., we are responsible for complaints where End-Users have 
                deposited money through our Platform. Our customer service is always available for any request, complaint or inquiry you may have 
                at : support@olanaFortune.com. We have put in place formal procedures for handling complaints fairly and promptly, and each such filed inquiry shall be 
                thoroughly investigated and addressed in a fair manner.</p>
                <hr class="uk-margin-medium-top uk-margin-small-bottom">
                                <ul class="in-faq-5 uk-accordion" data-uk-accordion="collapsible: false">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="terms.html#">Trading Guidelines</a>
                                        <div class="uk-accordion-content">
                                            <ul class="uk-list uk-list-bullet">
                                                <li>Follow the Company Trading Guides</li>
                                                <li>Always contact your account manager if you are having issues.</li>
                                                <li>Never give out your account login details to third party usage.</li>
                                            </ul>
                                        </div>
                                        </li>
                                        </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Three" aria-expanded="false">
                                                Privacy Policy
                                            </button>
                                        </h2>
                                        <div id="a5Three" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                            <div class="accordion-body">
                                             <p>We accept that customer trust is the establishment of our business. That is the reason we are straightforward about how we gather and utilize the data you give us, and we need to feature the decisions you have for getting to and controlling your data. If it's not too much trouble see beneath to figure out how our different business lines utilize your data to give you the best customer experience. As usual, you can get in touch with us at support@Solana Fortune.com with any inquiries or criticism.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Four" aria-expanded="false">
                                                Data We Collect from You
                                            </button>
                                        </h2>
                                        <div id="a5Four" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                            <div class="accordion-body">
<p>At the point when you access our platform to do business with us—regardless of whether on our sites, on our applications, at occasions TradesAssets joins in, sorts out or supports, or in our branches or workplaces—we may gather certain individual data about you. For instance: <br>

When you apply for our items, we may gather data, for example, your name, address, standardized savings number, date of birth, pay, and work data.  <br>

When you visit our sites or utilize our portable applications, we may gather data, for example, your PC IP address, your gadget identifier, your area, and what pages you view or visit. <br>

When you visit our branches or workplaces or go to occasions that we support or arrange, we may gather contact data, for example, your email address, your telephone number or your physical location. We may likewise gather sound or visual data about you because of safety efforts we use in our offices. 
</p>
                                            </div>
                                        </div>
                                    </div>
                                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Four" aria-expanded="false">
                                            How we Use your Data
                                            </button>
                                        </h2>
                                        <div id="a5Four" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                            <div class="accordion-body">
<p>We utilize your own data to help items and administrations that you use or that we offer to you. For instance, in the event that you have accounts with us: <br>

We may utilize data, for example, your record balance, trading action, advance sum, and transaction history to show it to you on the web or through our mobile applications. <br>

We may use data, for example, voiceprints for account verification and for use with misrepresentation counteraction innovations. <br>

We may utilize your contact data to advertise our items and administrations to you.
</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Four" aria-expanded="false">
                                                Company Trademarks
                                            </button>
                                        </h2>
                                        <div id="a5Four" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                            <div class="accordion-body">
    <p>Our Company trademarks include the following list. The absence of any Company trademark, product name, service name, or any other name from this list does not belong to Solana Fortune Company intellectual property rights.</p>
    <p>The Company logo and name is ® Registered in The United States and UK with registrations over the world. The ® Registered mark shall only be used in The United States and UK until registrations are completed elsewhere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-light border-0 mt-4 mb-1">
                                    <div class="card-body px-2 py-1">
                                         <p><i>All trading involves risk. CFDs are leveraged products and can result in losses that exceed your initial deposit. Please ensure you fully understand the risk involved and take care to manage your exposure.</i>
                                </p>
                                        <small>For general inquiries please contact <a class="link-primary text-decoration-none" href="mailto:">info@Solana Fortune.com</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    <div class="border-end-0 border-end-md border-end-lg">
                        <div class="icon-wrap bg-info flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                            <i class="fas fa-file fa-lg text-white"></i>
                        </div>
                        <h4 class="fw-bold">Terms of Service</h4>
                        <p>Read the Terms of Service and License Agreement for Solana Fortune as well as our Solana FortuneApp & Developer Agreements.</p>
                        <ul class="list-unstyled lh-lg mb-0">
                            <li><a class="btn btn-link link-primary text-decoration-none p-0" href="terms.html#"><i class="fas fa-file-pdf fa-sm me-1"></i>License Agreement</a></li>
                            <li><a class="btn btn-link link-primary text-decoration-none p-0" href="terms.html#"><i class="fas fa-file-pdf fa-sm me-1"></i>Term of Services for Solana Fortune Trade</a></li>
                        </ul>
                        <hr class="d-md-none d-lg-none my-3 my-md-3">
                    </div>
                    <div class="border-end-md-0 border-end-lg">
                        <div class="icon-wrap bg-info flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                            <i class="fas fa-globe fa-lg text-white"></i>
                        </div>
                        <h4 class="fw-bold">Policies</h4>
                        <p>Find out more about what information we collect at Solana Fortune, how we use it, and what control you have over your data.</p>
                        <ul class="list-unstyled lh-lg mb-0">
                            <li><a class="btn btn-link link-primary text-decoration-none p-0" href="terms.html#"><i class="fas fa-file-pdf fa-sm me-1"></i>Privacy Statement</a></li>
                        </ul>
                        <hr class="d-md-none d-lg-none my-3 my-md-3">
                    </div>
                    <div class="d-md-none d-lg-block">
                        <div class="icon-wrap bg-info flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                            <i class="fas fa-shield-alt fa-lg text-white"></i>
                        </div>
                        <h4 class="fw-bold">Security</h4>
                        <p>Learn more about how we keep your work and personal data safe when you’re using our services.</p>
                        <ul class="list-unstyled lh-lg mb-0">
                            <li><a class="btn btn-link link-primary text-decoration-none p-0" href="terms.html#"><i class="fas fa-file-pdf fa-sm me-1"></i>Solana Fortune Trade Security</a></li>
                            <li><a class="btn btn-link link-primary text-decoration-none p-0" href="terms.html#"><i class="fas fa-file-pdf fa-sm me-1"></i>Responsible Disclosure Policy</a></li>
                        </ul>
                    </div>
            </div>
        </section>
        <!-- section content end -->
    </main>
    <!-- footer begin -->
    <footer class="py-5 in-cirro-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row gx-0 mb-3">
                        <div class="col-md-12 col-lg-3 footer-logo">
                            <img src="img/logodark.png" alt="footer-logo" width="150" height="58" class="mb-1 d-block">
                            
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <div class="d-flex flex-column flex-xl-row justify-content-xl-end">
                                <ul class="list-inline in-footer-link order-last order-xl-first">
                                    <li class="list-inline-item"><a href="{{ url_for('contact') }}">Contact</a></li>
                                    <li class="list-inline-item"><a href="{{ url_for('about') }}"href="about.html">FAQ</a></li>
                                    <li class="list-inline-item"><a href="{{ url_for('education') }}">Careers</a></li>
                                    <li class="list-inline-item"><a href="{{ url_for('about') }}">Partners</a></li>
                                    <li class="list-inline-item"><a href="{{ url_for('login') }}">Integrations</a></li>
                                    <li class="list-inline-item"><a href="{{ url_for('login') }}">Security</a></li>
                                </ul>
                                <div class="social-media-list small hstack gap-3 ms-lg-5 order-first order-xl-last">
                                    <div><a href="https://www.facebook.com/" class="color-facebook text-decoration-none"><i class="fab fa-facebook-square"></i></a></div>
                                    <div><a href="https://twitter.com/" class="color-twitter text-decoration-none"><i class="fab fa-twitter"></i></a></div>
                                    <div><a href="{{ url_for('terms') }}" class="color-linkedin text-decoration-none"><i class="fab fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3 mt-5 d-flex">
                            <div class="align-self-end">
                                <p class="mb-0 copyright-text">© 2024 Solana Fortune Limited</p>
                                <p class="mb-0 copyright-text">All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-9 d-lg-flex justify-content-lg-end d-none d-lg-block">
                            <div class="align-self-end">
                                <nav class="nav in-footer-link-2">
                                    <a class="nav-link border-end-md" href="{{ url_for('terms') }}"">Risk Disclosure</a>
                                    <a class="nav-link border-end-md" href="{{ url_for('terms') }}"">Privacy policy</a>
                                    <a class="nav-link border-end-md" href="{{ url_for('terms') }}"">Customer Agreement</a>
                                    <a class="nav-link pe-0" href="{{ url_for('terms') }}"">AML policy</a>
                        
                                </nav>
                            </div>
                        </div>
                    </div>
                                
                        <p class="mb-0 copyright-text"><i>You can start your online trading today with Solana Fortune. Please feel free to browse our economic calendar. It contains important information on EURUSD, BTCUSD, GBPUSD, USDCHF, BTCETH, AUDUSD, USDCAD, NZDUSD and other currency pairs and trading instruments and provides up-to-date market news and market research. Solana Fortune offers a deposit forex bonus of up to 50%*. You can trade micro-lots (0.01 lots) with Solana Fortune.</i></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <div class="d-none d-md-block">
        <a href="terms.html#" class="to-top fas fa-arrow-up text-decoration-none text-white"></a>
    </div>
        <!-- WhatsApp -->
<!-- <a href="https://wa.me/17867233156?text=Hello" class="floating" target="_blank">
<i class="fab fa-whatsapp fab-icon"></i>
</a> -->
    
    <!-- javascript -->
    <script src="js/vendors/bootstrap.min.js"></script>
    <script src="js/utilities.min.js"></script>
    <script src="js/config-theme.js"></script>
    
    <!-- Tidio Chat -->
    <!--<script src="//code.tidio.co/ho6rwcjtwedvs2ged5rwgcjshn5cfohq.js" async></script>-->
    <!-- END Tidio Chat -->
</body>


<!-- /terms.html   20:25:14 GMT -->
</html>